<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="defaultReadOnly" value="false"/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="${db.url}${db.name}"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="DAO.myBatis.mappers.IWorkerMapper" />
        <mapper class="DAO.myBatis.mappers.ICustomerMapper" />
        <mapper class="DAO.myBatis.mappers.IVehSupplierMapper" />
        <mapper class="DAO.myBatis.mappers.IBuildingMapper" />
        <mapper class="DAO.myBatis.mappers.IBulldozerMapper" />
        <mapper class="DAO.myBatis.mappers.IConcreteMixerMapper" />
        <mapper class="DAO.myBatis.mappers.ICraneMapper" />
        <mapper class="DAO.myBatis.mappers.IMaterialSupplyCompanyMapper" />
        <mapper class="DAO.myBatis.mappers.IProjectManagerMapper" />
        <mapper class="DAO.myBatis.mappers.IProjectMapper" />
    </mappers>
</configuration>